body {
    font-size: 16px;
    max-width: 900px;
    border: 1px darkblue;
    margin: 12px
}
p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
  }

article::first-line {
    background-color: lightcoral;
  }