html, body, main, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

main {
    padding: 0 70px;
    height: 100vh;
    /* border: 2px dashed brown; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-evenly;
    align-items: flex-start;
    align-content: flex-start;
}

div {
    height: 150px;
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font: 900 2rem sans-serif;

}

.d1 {
    flex-basis: 60%;
    background-color: grey;
}

.d2 {
    flex-basis: 40%;
    background-color: gainsboro;
}

.d3 {
    flex-basis: 33.3%;
    background-color: lightseagreen;
}

.d4 {
    flex-basis: 33.3%;
    background-color: lightskyblue;
}

.d5 {
    flex-basis: 33.4%;
    background-color: lightblue;
}