html {
    border: 2px solid grey;
}

div {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border: 1px solid gray;
}

#pr {
    position: relative;
    top: 20px;
    left: 20px;
}