html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px solid brown;
    background-image: url("cit.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
p {
    font-size: 4rem;
    text-align: center;
    color: white;
}